body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

header,
footer,
.hero-section {
    padding-left: 150px;
    padding-right: 150px;
}

header,
footer {
    color: white;
    background-color: #1F2937;
}

.hero-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.hero-card {
    min-width: 350px;
}

.hero-card h4 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 10px;
}

.hero-card p {
    font-size: 18px;
    color: #f9faf8;
    line-height: 25px;
}

.hero-card button,
.action-button button {
    background-color: #3882F6;
    color: #f9faf8;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 20px;

}
.hero-card button:hover,
.action-button button:hover{
    background-color: black;
    color: white;
}

.hero-image {
    height: 250px;
    width: 500px;
    background-color: grey;
    flex-shrink: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-left {
    font-size: 24px;
    color: #f9faf8;
}

.nav-right {
    display: flex;
}

ul {
    /* display: flex; */
    list-style-type: none;
    gap: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.info-header {
    text-align: center;
    min-width: 1050px;
    margin: 50px;
    font-size: 2rem;
}

.info-section {
    margin-bottom: 50px;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 1050px;
}

.info-card {
    flex: 0 0 20%;
    margin: 5px;
    /* min-width: 350px; */
}

.image-container {}

.image-container img {
    width: 100%;
    height: 100%;
}

.info-card p {
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote-container {
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    text-align: right;
    font-weight: bolder;
}

.action-section{
    padding: 50px 0;
}
.action-container{
    display: flex;
    background-color: #3882F6;
    width: 900px;
    margin: 0 auto;
    border-radius: 5px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.action-text{
    color: white;
}
.action-text h4{
    font-size: 1.25rem;
}
.action-button button{
    border: 1px solid white;
    border-radius: 5px;
}
footer {
    height: 72px;
    background: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

@media only screen and (max-width: 1500px) {
    .info-card {
        flex: 0 0 25%;
        margin: 5px;
    }

    .quote-container {
        width: 70%;
    }
    .action-container{
        width: 800px;
    }
}

@media only screen and (max-width: 1400px) {
    .info-card {
        flex: 0 0 33%;
        margin: 5px;
    }

    .quote-container {
        width: 900px;
    }.action-container{
        width: 700px;
    }
}

/* @media only screen and (max-width: 900px) {
    .info-card {
        flex: 0 0 90%;
        margin: 5px;
    }
} */